node_modules/
.env
*.log
.DS_Store
__pycache__/
*.egg-info
docs/build/
.vscode/
.coverage
build
extension_explanation.md
.env
.agents/
outputs/

# rossum_deploy folders
before-changes/
after-changes/
sanbox-after-changes/
