repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^deployments/new-deployment/
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-toml
      - id: debug-statements

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.13
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--ignore-words", ".codespell-ignore"]
        exclude: >
          (?x)^(
            .*\.html|
          )$

  - repo: local
    hooks:
      - id: ty
        name: ty
        entry: uv run ty check
        language: system
        pass_filenames: false
        types: [python]
