LLM_MODEL_ID="bedrock/eu.anthropic.claude-sonnet-4-5-20250929-v1:0"

API_TOKEN_OWNER=  # token owner used by rossum extensions
SPLITTING_SCREEN_FLAG_NAME=
SPLITTING_SCREEN_FLAG_VALUE=

ROSSUM_API_BASE_URL=
ROSSUM_API_TOKEN=

XPACK_ENCRYPTEDSAVEDOBJECTS_ENCRYPTIONKEY=
