---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app: rossum-agent
      app.kubernetes.io/instance: rossum-agent
      app.kubernetes.io/name: rossum-agent
