---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

components:
  - ../../_shared

configMapGenerator:
  - name: rossum-agent
    behavior: merge
    literals:
      - LLM_MODEL_ID=bedrock/eu.anthropic.claude-sonnet-4-5-20250929-v1:0
      - BASE_URL=https://rossum-agent.tools.r8.lol
