name: Pre-commit

on:
  push:
    branches: [master, ds-rossum-agent-release-branch]
  pull_request:
    branches: [master, ds-rossum-agent-release-branch]

jobs:
  pre-commit:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - uses: astral-sh/setup-uv@v5
      - name: Install dependencies
        run: uv sync --all-extras
      - name: Run pre-commit
        run: uvx pre-commit run --all-files
